.nav > li:hover .dropdown-menu { 
    display: block;
     }
.carousel-inner .item >img{
width: 1200px;
height: 400px;
}

.pcShow{
margin-top: 30px;

}
.pcShow a{
    display: inline-block;
    width: 231px;
    height: 308px;
  
}
.pcShow a img{
width: 231px;
height: 308px;
}
.pcShow1{
margin-top: 20px;
}
.pcShow1  img{
width: 180px;
height: 270px;
}
.le{
width: 360px;
left: -180px;
}
.le>li{
float: left;
}
.lists{
    padding-bottom: 20px;
}
.fenl{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.fenl ol{
    width: 100%;
}
video{
    width: 700px;
    height: 400px;
}